@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-color: transparent;
  position: fixed;
}
header .header2 {
  width: 50%;
}
header .header2 ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto Condensed", sans-serif;
}

.section1 {
  width: 100%;
  height: 1000px;
  background-image: url(./img/section1/Rectangle\ 75.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.section1 .div1 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
}

.section2 {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.section2 .div2 {
  width: 80%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section2 .div2 div {
  width: 40%;
  height: 120px;
  padding: 1%;
  margin: 1%;
  font-family: "Roboto Condensed", sans-serif;
}

.section3 {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.section3 .content {
  width: 80%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.section3 .content .container1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section3 .content .container1 div {
  width: 40%;
  height: 180px;
  padding: 1%;
  margin: 1%;
  font-family: "Roboto Condensed", sans-serif;
}
.section3 .content .container2 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section3 .content .container2 div {
  width: 50%;
  height: 200px;
  padding: 1%;
  margin: 1%;
  font-family: "Roboto Condensed", sans-serif;
}
.section3 .content .container2 div img {
  margin-top: 3%;
}
.section3 .content .container2 div p {
  margin-bottom: 3%;
}

.section4 {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .content {
  width: 80%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section4 .content div {
  width: 50%;
  height: 500px;
}
.section4 .content div p {
  margin-top: 7%;
  font-family: "Roboto Condensed", sans-serif;
}
.section4 .content div h2 {
  margin-bottom: 10%;
  font-family: "Raleway", sans-serif;
}
.section4 .content .div2 {
  background-image: url(./img/section4/Rectangle\ 88.png);
  background-size: cover;
}/*# sourceMappingURL=style.css.map */